<!-- From https://www.osano.com/cookieconsent/download/ -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<!-- From https://www.osano.com/cookieconsent/download/ -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#252e39"
    },
    "button": {
      "background": "#14a7d0"
    }
  },
  "theme": "edgeless",
  "content": {
    "message": "Provose uses cookies in order for us to better understand users and catch our own mistakes.",
    "href": "https://provose.com/privacy/"
  }
});
</script>