// We create a bar on the left side of a list, which makes it easier
// to count the depth of nested lists. This is important because we
// use the lists to describe how to make deeply-nested JSON documents.
.main-content ul {
  border-left: 2px solid $grey-lt-300;
  margin-top: 2em;
  padding-left: 3em;
}

.main-content ul > li {
  margin-bottom: 2em;
}

// This gives a larger font size to code snippets without syntax highlighting.
// We commonly put single-line code snipppets within lists. By default,
// these snippets are 12px--which can look a little too small when
// next to the surrounding text.
p > code.language-plaintext,
li > code.language-plaintext,
a > code.language-plaintext {
  font-size: 1em;
}

// Don't cut off hyperlinks. Let them wrap as they normally would.
.page-content a {
  white-space: normal;
  overflow: auto;
}
